/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
:root {
    --primary-color: #6B8E23;
    --secondary-color: #3760c9;
    --accent-color: #8B4513;
    --text-color: #F5F5DC;
    --font-family: 'Jersey', sans-serif; /* Define the heading font family */
}

html {
    background-image: url(../public/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-family: "Jersey 10", sans-serif;
    font-style: normal; /* Apply the primary font family to the body */
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    margin: 0 0 20px 0;
}

h1 {
    font-weight: 100;
    font-size: 200%;
}

h2 {
    font-weight: 100;
    font-size: 175%;
}

h3 {
    font-weight: 100;
    font-size: 150%;
}

p {
    font-size: 120%;
    margin: 0 0 20px 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    cursor: pointer;
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px; /* Round the corners */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button.itch:hover {
    background-color: #fa5c5c;
}

button.slack:hover {
    background-color: #36C5F0;
}

input[type="email"], input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    width: 50%;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 10px 0 5px 0;
}